@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #2f2f2f;
  --text-dark: #18181b;
  --text-light: #71717a;
  --white: #ffffff;
  --max-width: 1200px;
  --dark-blue: #274470;
  --light-blue: #0072A4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none;
  }
  
html,
body {
    scroll-behavior: smooth;
  }
  
body {
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-right: auto; 
    margin-left: auto; 
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    border-radius: 5px; 
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px; 
    text-align: center; 
  
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  
  .nav_logo {
    display: flex;
    flex: 1;
    align-items: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav_logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: #274470;
  }
  
  .nav_logo img{
    width: 125px;
    height: 125px;
  }
  .nav_logo a span{
    color: #0072A4;
  }
  
  .nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .link a {
    position: relative;
    padding: 10px 0;
    color: #274470;
    transition: 0.3s;
  }
  
  .link a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #274470;
    transition: 0.3s;
  }
  
  .link a:hover::after {
    width: 100%;
  }
  
  .nav_actionss {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    left: 5em;
    font-size: 1.5em;
  }

  .nav_actionss a {
    color: var(--dark-blue);
  }

  .nav_actions a::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 3%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #274470;
    transition: 0.3s;
  }
  
  .nav_actionss a:hover::after {
    width: 8%;
  }
  
  .nav_btn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: #274470 ;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    border: none;
  }
  
  .nav_btn1 {
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    color: #274470 ;
    background-color: transparent;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    border: 2px solid #274470;
    margin-right: 16px;
  }

.section-p1 {
    padding: 5rem 1rem;
}

#banner{
    width: auto;
    height: 181px;
    line-height: 181px;
    background-color: #274470;
    margin-top: 5rem;
    vertical-align: middle;
    text-align: center;
    color: var(--white);
}

.section-p1 {
  padding: 50px 80px 80px 80px;
}



#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border-radius: 25px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des span{
  color: var(--text-light);
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: var(--text-dark);
  font-size: 14px;
}

#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--dark-blue);
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--dark-blue);
  font-weight: 500;
  border: 1px solid var(--dark-blue);
  color: var(--white);
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 11.5px;
}



#banner2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(assets/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner2 h4 {
  color: var(--white);
  font-size: 16px;
}

#banner2 h2 {
  color: var(--white);
  font-size: 30px;
  padding: 10px 0;
}

#banner2 h2 span {
  color: #ef3636;
}

.btnn {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  width: 150px;
  position: relative;
  left: 45.5em;
}

#banner2 button:hover{
  color: var(--white);
  background-color: var(--dark-blue);
}

#pagination {
  text-align: center;
  margin-bottom: 5em;
}

#pagination a {
  text-decoration: none;
  background-color: var(--dark-blue);
  padding: 15px 20px;
  border-radius: 4px;
  color: var(--white);
  font-weight: 600;
}

#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

.section_newsletter {
  padding: 40px 40px;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(assets/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: var(--dark-blue);
}

.newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--white);
}

.newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: var(--text-light);
}

.newsletter p span{
  color: #ffbd27;
}

.newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btnnn {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

.newsletter button {
  background-color: #088178;
  color: var(--white);
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.newsletter .form {
  display: flex;
  width: 40%;
}

.section_footer {
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo{
  margin-bottom: 30px;
  width: 60%;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid var(--dark-blue);
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: var(--dark-blue);
}

footer .copyright {
  width: 100%;
  text-align: center;
}