@media screen and (max-width: 768px) {
    body{
        max-width: fit-content;
        width: 100%;
        height: 100%;

    }

    .about_container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: center;
        overflow-y: scroll;
      }

    .about_grid {
        margin-top: 2px;
        gap: 2rem;
        
      }

    .section_container .about_container {
        margin: 50px;
        padding: 40px;
    }
    .about_image{
        display: none;
        width:  500px;
        height: 1000px;
    }
}
    